# Ignore node_modules in backend and frontend
backend/.env
backend/models/
backend/datasets/
backend/app/__pycache__/
backend/app/routers/__pycache__/
backend/app/models/__pycache__/
backend/app/services/__pycache__/

.env

frontend/node_modules/
frontend/.env

zDummy/



# Ignore Python virtual environment named FedApp
FedApp/
